.header {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__logoContainer {
    height: 100%;
    width: 3rem;
    padding: 1rem;
  }

  &__options {
    width: 50%;
    height: 100%;
    display: flex;
    gap: 2rem;
    margin-right: 1.5rem;
    padding-top: 1.3rem;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
    font-weight: 700;

    &-option {
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }

  &__itemLength {
    font-size: 1rem;
    padding: 0 0.3rem;
  }
}
