@import "../../media-query";

.collectionpage {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 2rem;

  @include notDesktop {
    margin-left: 0rem;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 5rem;

    @include notDesktop {
      display: flex;
      flex-direction: column;
    }
  }
}
